<html>
    <head>
        <title>Search Engine</title>
        <style type="text/css">
            body {
                background: #777777;
            }

            #search-field {
                text-align: center;
            }
        </style>
    </head>

    <body>
        <div id="search-field">
            <h1>Search Engine</h1>

            <form method="GET" action="/search/" >
                Search:
                <input type="text" name="query" />
                <button>Go!</button>
            </form>
        </div>
    </body>
</html>